<div class="row">    
    <nav class="nav-bar indigo lighten-1">
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="/" class="brand-logo">HiChat</a>
            <ul id="nav-mobile" class="right">
              <div *ngIf="Auth.isUserAuthenticated(); else unAuthenticated">
                  <li>{{ Auth.getEmail() }}</li>  
                  <li><a [routerLink]="['/login']" (click)="logout()">Log out</a></li>
              </div>
                <!-- User is not login case  -->
              <ng-template #unAuthenticated>
                  <li><a [routerLink]="['/login']">Log in</a></li>    
                  <li><a [routerLink]="['/signup']">Sign up</a></li> 
              </ng-template> 
            </ul>
          </div>
        </div>
    </nav>
    <br/>
    
</div>