.btn-default {
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 12px;
  cursor: pointer;
}
.form-control-feedback {
  color: #dc3545;
}
button.input-group-addon {
  padding: 1px 6px;
}
.invalidDp input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.invalidDp button.input-group-addon {
  border-right: 1px solid red;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}
.dpFullWidth div.input-group {
  width: 100%;
}
