<div class="container">
  <input type="text" class="form-control" placeholder="Search for user to chat">

  <div>
      <ngx-datatable
      #mydatatable
      class="ngxDatatable"
      (select)="selectRow($event)"
      [selectionType]="'single'"
      [headerHeight]="30"
      [limit]="3"
      [columnMode]="'force'"
      [footerHeight]="30"
      [rowHeight]="'auto'"
      [rows]="rows">
      <ngx-datatable-column name="Name"[cellClass]="'table-cell'">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
            title="Double click to edit"
            (click)="editing[rowIndex + '-name'] = true"
            *ngIf="!editing[rowIndex + '-name']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'name', rowIndex)"
            *ngIf="editing[rowIndex+ '-name']"
            type="text"
            [value]="value"
            class="form-control"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gender">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
           <span
            title="Double click to edit"
            (click)="editing[rowIndex + '-gender'] = true"
            *ngIf="!editing[rowIndex + '-gender']">
            {{value}}
          </span>
          <select
            *ngIf="editing[rowIndex + '-gender']"
            (change)="updateValue($event, 'gender', rowIndex)"
            [value]="value" class="form-control">
            <option value="">Select your gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Age">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>

      <!-- <ngx-datatable-footer>
          <ng-template 
            ngx-datatable-footer-template 
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset">
            <div class="pager">
              
            </div>
          </ng-template>
        </ngx-datatable-footer> -->
    </ngx-datatable>
  </div>
</div>