<div class="container">
    <div class="card-panel login-panel">
        <form class="col s12" action="/" onSubmit={onSubmit}>
            <h4 class="center-align">Login</h4>
            <div class="row" *ngIf="errors?.summary">
              <p class="error-message">{{ errors.summary }}</p>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input class="validate" id="email" type="email" name="email" onChange={onChange}/>
                    <label htmlFor='email'>Email</label>
                </div>
            </div>
            <div class="row" *ngIf="errors?.email">
              <p class="error-message">{{ errors.email }}</p>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input class="validate" id="password" type="password" name="password" onChange={onChange}/>
                    <label htmlFor='password'>Password</label>
                </div>
            </div>
            <div class="row" *ngIf="errors?.password">
              <p class="error-message">{{ errors.password }}</p>
            </div>
            <div class="row right-align">
                <input type="submit" class="waves-effect waves-light btn indigo lighten-1" value='Log in'/>
            </div>
            <div class="row">
                <p class="right-align"> New to HiChat?  <a [routerLink]="['/signup']">Sign Up</a></p>
            </div>
        </form>
    </div>
</div>