@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
input.form-control {
  height: 25px;
}
select.form-control {
  height: 25px !important;
  font-size: 12px !important;
  padding: 0 !important;
}
